:root{
  /* Full Slider Bar */
  --SoftCyan: hsl(174, 77%, 80%);
  /* Slider Backround */
  --LightGrayishRed: hsl(14, 92%, 95%);
  /* Discount Text */
  --LightRed: hsl(15, 100%, 70%);
  /* CTA Text */
  --PaleBlue: hsl(226, 100%, 87%);

  /* Pricing Component Background */
  --White: hsl (0, 0%, 100%);
  /* Main Background */
  --VeryPaleBlue: hsl(230, 100%, 99%);
  /* Empty Slider Bar */
  --LightGrayishBlue: hsl(224, 65%, 95%);
  /* Toggle Background */
  --LightGrayishBlue2: hsl(223, 50%, 87%);
  /* Text */
  --GrayishBlue: hsl(225, 20%, 60%);
  /* Text & CTA Background */
  --DarkDesaturatedBlue: hsl(227, 35%, 25%);

  /* Fonts */
  --Fontsize: 15px;
  --FontFamily: 'Manrope', sans-serif;
  --Weight1: 600;
  --Weight2: 800;
}

